@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
@import "tailwindcss";

@theme {
  --color-mainAccent: rgba(120,120,239,1);
  --color-secondaryAccent: rgba(120,120,239,0.10);
  --font-noto: "Noto", sans-serif;
  --font-bodoni: "Bodoni Moda", sans-serif;
}
